body {
 background-color: lavender;
 font-family: ;
  font-size: 16px;
}

h1 {
color: green;
text-align: center;
}
p {
  text-align: center;
}
h3 {
  color: #66BFBF;
  text-align: center;
}
.skill {
  text-align: left;
}
hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 10%;
}

img{
height: 140px
}
.circular {
  border-radius: 100%
}
.footer {
  background-color: #749BC2;
  text-align: center;
}
.h3 {
  color: white;
  padding-top: 10px;
  margin-bottom: 10px;
}
.p {
  padding-bottom: 10px;
  margin-top: 0px;
}
form {
  margin: 0 auto;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  padding-bottom: 2em;

}

input {
width: 100%;
margin: 10px 0 0 0;
min-height: 1rem;
}

textarea {
width: 100%;
margin: 10px 0 0 0;
min-height: 2rem;
}
input, textarea {
  background-color: #ECFAE5;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

fieldset {
  border: none;
  padding: 2rem none;
  border-bottom: 3px solid #3b3b4f;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  width: 20%;
}

.button:hover {
  color: #CFFFE2;
  background-image: linear-gradient(to bottom, #3e8e41, #2f793d);
}
a {
  color: #0D5EA6;
}
a:hover {
  color: green;
}

input[type="submit"] {
  display: block;
  width: 70%;
  margin:1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  border-radius: 0.5em;
  min-width: ;
}